@media screen and (max-width:1279px) {
body { -webkit-text-size-adjust: none;}
}

@media screen and (max-width:1399px) {
.left-part-hd h1, .sendotp-img { margin: 30px 0; }
.card-img img, .sendotp-txt { margin-bottom: 30px; }
.owl-theme .owl-nav.disabled+.owl-dots { margin-top: 20px; }
.sendotp-form { padding: 10px; } 
.formarea-control .form-control { margin-bottom: 10px; padding: 8px; }
h3.cmn-hd, .message-owner { margin-bottom: 10px; }
h2.cmn-hd1 { margin-bottom: 20px; font-size: 20px; line-height: 24px; }
.form-label { font-size: 15px; margin-bottom: 3px; }
.copyright { bottom: 10px;  }
}

@media screen and (max-width:1199px) {
body { font-size: 16px; }
.left-part-hd h1 { font-size: 20px; line-height: 26px; }
.card-desc { font-size: 16px; }
h2.cmn-hd { font-size: 22px; }
.sendotp-txt { font-size: 20px;  }
.cmn-btn, .cmn-btn-blue { height: 60px; line-height: 60px; font-size: 22px; }
.formarea-control .form-control { margin-bottom: 20px; }
h3.cmn-hd, .message-owner { margin-bottom: 20px; }
}

@media screen and (max-width:1023px) {
body { font-size: 15px; }
.left-area, .right-area, .left-inner-cnt, .right-inner-cnt { height: auto; padding: 0; }
.logo { background: #fff; padding: 5px; }
.card-desc { display: none; }
.owl-theme .owl-nav.disabled+.owl-dots { margin: 10px 0; }
h2.cmn-hd { font-size: 20px; }
.right-inner-cnt { padding: 15px 30px; }
.copyright { position: inherit; bottom: auto; padding: 5px; }
.sendotp-img img { width: 150px; }
.codesent-txt { margin-top: 30px; margin-bottom: 20px; }
.otp-request { margin-top: 50px; } 
.screen3 h2.cmn-hd { padding-top: 80px; }
.screen4 h2.cmn-hd1 { padding-top: 0px; }
.card-img img { margin-bottom: 0; width: 200px !important; } 
.left-part-hd h1 { margin: 15px 0; }
}

@media screen and (max-width:767px) {
body { font-size: 15px; }
.logo img { width: 100px; }
.sendotp-img img { width: 100px; }
.left-part-hd h1 { font-size: 18px; line-height: 24px; }
.right-inner-cnt { padding: 20px; }
.btn-gray, .btn-green { margin: 0 5px; min-width: 140px; }
.otpverified-btn { width: 100%; margin-top: 30px; }
.otpverified-btn ul li a, .otpverified-btn ul li a.btn-reverse { height: 55px; line-height: 55px; }
h2.cmn-hd { font-size: 18px; }
.verify-form input { margin: 0 5px; width: 45px; height: 55px;}
.cmn-btn, .cmn-btn-blue { height: 55px; line-height: 55px; font-size: 17px; }
.cmn-btn { min-width: inherit; }
.phone-input span { font-size: 15px;  }
.phone-input input { font-size: 15px; width: 130px; }
.sendotp-txt { font-size: 16px; margin-bottom: 20px; }
.otpverified-btn ul li { margin-bottom: 15px; }
.owl-theme .owl-nav.disabled+.owl-dots { margin-bottom: 10px; }
.card-img img { width: 150px !important; } 
}

@media screen and (max-height:650px) {
.left-inner-cnt, .right-inner-cnt { justify-content: start; height: auto; }
.copyright { position: inherit; padding: 5px 0 0; }
.left-area, .right-area { height: auto; }
.left-inner-cnt, .right-inner-cnt { padding: 20px 30px; }
}